.sign-up-wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.accordion-button {
    padding: 1rem 0 !important;
}

.sign-up-text {
    padding-bottom: 2rem;
}

.sign-up-text h2 {
    font-size: 2.4rem;
}

.sign-up-text p {
    color: var(--body-fashion);
    font-size: 1.4rem;
    font-weight: 500;
}

.sign-up-form {
    font-size: 1.4rem;
}

.sign-up-form input {
    flex: 1 0 auto;
    min-height: 5rem;
    max-width: 45rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: 1px solid var(--border-nav);
}

.sign-up-form span {
    flex: 1 0 auto;
    min-height: 5rem;
    max-width: 45rem;
    text-align: center;
    background-color: var(--search-button);
    border-radius: 3rem;
    border: 1px solid var(--search-button);
}

.sign-up-form a {
    color: var(--whrite);
    padding: 1rem 2rem;
}

.shipping-image {
    margin-bottom: 1rem;
}

.footer {
    background-color: var(--bg-bold);
}

.information-menu-wrapper {
    padding-bottom: 2rem;
}

.accordion-body {
    padding: 1rem 0;
}

.accordion-item {
    border: none;
}

.accordion-item button,
.accordion-item div {
    background-color: var(--bg-bold);
}

.accordion-item button {
    font-size: 1.6rem;
    font-weight: 600;
}

.accordion-button:focus {
    box-shadow: none;
    border: none;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: var(--bg-bold);
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.accordion-body,
.accordion-body p {
    font-size: 1.4rem !important;
    font-weight: 500;
}

.phone-number {
    font-size: 2.2rem;
    color: var(--search-button);
    margin-bottom: 1rem;
}

.tooltip-icon {
    /* padding: 0 1.25rem; */
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.tooltip-icon a {
    padding: 0 2rem 0 0;
}

.custom-tooltip {
    font-size: 1.4rem;
}

.footer-section {
    font-weight: 600;
    padding: 0 0 1rem 0;
}

.accordion-item {
    background-color: var(--bg-bold);
}

.accordion-body {
    padding: 1rem 0 0 0;
}

.accordion-body p {
    padding: 0 0 1rem 0;
}

.list-group-item {
    /* padding-top: 0;
    padding-bottom: 1rem; */
    padding: 0 0 1rem 0;
    background-color: transparent;
    border: none;
}

.list-group-item a {
    color: var(--bs-list-group-color);
}

.list-group-item a:hover {
    padding-left: 1.5rem;
    transition: all .4s ease;
}

/* .drop-down-footer {
    padding: 0 1rem 0;
} */

.choose-language>*,
.choose-currency>* {
    font-size: 1.4rem;
    color: var(--blakc);
}

.choose-language .dropdown-menu,
.choose-currency .dropdown-menu {
    transition: all .5s ease;
}

.choose-language .dropdown-menu li,
.choose-currency .dropdown-menu li {
    padding: .375rem .75rem;
}

.choose-language .dropdown-menu li a,
.choose-currency .dropdown-menu li a {
    color: var(--blakc);
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    border-color: transparent;
}

.choose-language .dropdown-menu li:hover,
.choose-currency .dropdown-menu li:hover {
    padding-left: 2rem;
    transition: all .4s ease;
}

.footer-copy-right {
    font-size: 1.4rem;
}

.footer-payment img {
    padding: 0 .5rem;
    margin-bottom: .5rem;
}

.footer-drop-wrapper {
    padding-bottom: 10vh;
}

.footer-drop-wrapper>* {
    margin-bottom: 1.5rem;
}

.dropdown-toggle {
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (min-width: 576px) {

    /* .sign-up-form span {
        max-width: 15rem !important;
    } */

    .sign-up-form input {
        max-width: 45rem !important;
    }

}

@media only screen and (min-width: 768px) {

    .sign-up-form span {
        max-width: 15rem !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

    .accordion-item {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}