.container-main {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
}

/* main {
    margin-top: 19rem;
} */

/* .header-bar {
    padding-top: 2rem;
    padding-bottom: 2rem;
} */

.main-body {
    padding-top: 4rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.container {
    --bs-gutter-x: 3rem;
    --bs-gutter-y: 0;
}

.slide-show img {
    filter: brightness(70%);
}

.part-gap {
    padding: 2rem 0;
}

.shop-wrapper {
    /* margin-bottom: 3rem; */
    border-radius: .5rem;
    min-height: 20rem;
}

.shop-gamepad {
    background-color: var(--console);
}

.shop-deal {
    background-color: var(--deal);
}

.shop-camera {
    background-color: var(--camera);
}

.banner-text {
    color: var(--whrite);
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    gap: 4rem;
}

.banner-text p {
    font-size: 2rem;
    font-weight: 600;
}

.banner-image {
    display: flex;
    align-items: center;
    width: 55%;
}

.banner-image img {
    width: 100%;
    min-height: 20rem;
    aspect-ratio: 27/20;
}

.continuous {
    background:
        linear-gradient(90deg, currentColor calc(100%/3), transparent 0 calc(200%/3), currentColor 0) var(--d, 0%) 100% /300% 1px no-repeat;
    transition: 0.5s;
}

.shop-gamepad:hover,
.shop-deal:hover,
.shop-camera:hover {
    --d: 100%;
}

.banner-title {
    font-size: 1.4rem;
    font-weight: 500;
}

.banner-title span {
    display: inline-block;
    position: relative;
    width: fit-content;
}

/* .banner-title span::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0.16);
    height: 1px;
    bottom: -6px;
    left: 0;
    background-color: var(--base-color);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
} */

/* .banner-title:hover span::after {
    transform: scaleX(1);
    transform-origin: bottom left;
} */

.product-list {
    overflow-x: scroll;
    padding-top: 3rem;
}

.product-list::-webkit-scrollbar {
    display: none;
}

.product-list-image {
    /* width: 50%; */
    flex: 1 0 auto;
    padding: 1.5rem;
    align-items: center;

    img {
        transition: all .4s;
    }
}

.product-list-image {
    img:hover {
        transform: scale(1.1);
    }
}

/* .product-list-image img {
    height: 12rem;
    width: 12rem;
    background-color: #F1F3F7;
    border-radius: 50%;
} */

.product-container {
    height: 12rem;
    width: 12rem;
    background-color: #F1F3F7;
    border-radius: 50%;

    img {
        height: 12rem;
        width: 12rem;
        transition: all .6s;
    }
}

.product-container:hover {
    img {
        transform: scale(1.1);
    }
}

.product-list-text {
    padding-top: 1.5rem;
}

.product-list-text>* {
    align-items: first baseline;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
    color: var(--blakc);
}

.product-list-text a {
    transition: all .4s;
}

.product-list-text a:hover {
    color: var(--search-button);
}

.product-list-text p:last-child {
    opacity: 0.5;
}

.carousel-indicators {
    position: static;
    padding-top: 1.5rem;
}

.carousel-indicators [data-bs-target] {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

/* .product-list-wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
} */

/* .carousel-product-list {
    padding-top: 3rem;
} */

.image-list-wrapper {
    display: flex;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.carousel-product-list .carousel-control-prev,
.carousel-product-list .carousel-control-next {
    top: 71%;
}

.carousel-control-prev {
    left: 2.5rem;
}

.carousel-control-next {
    right: 2.5rem;
}

.umilux {
    font-size: 1.2rem;
    color: var(--secondary-text);
}

.price {
    font-size: 1.8rem;
}

.sale-price {
    font-size: 1.8rem;
    color: var(--search-button);
}

.base-price {
    font-size: 1.4rem;
    color: var(--secondary-text);
}

.top-deal-wrapper {
    overflow-x: hidden;
}

.top-deal-header {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--border-nav);
}

/* .top-deal-text,
.top-selling-text,
.recommended-text,
.deal-and-promotion-text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
} */

.top-deal-text p {
    font-size: 1.4rem;
}

.top-deal-name {
    cursor: pointer;
    transition: all .4s;
}

.top-deal-name:hover {
    color: var(--search-button);
}

.card-wrapper {
    /* width: 50%; */
    padding: 0 1.5rem;
}

.top-deal-list,
.recommended-list {
    padding-top: 3rem;
}

.img-hover {
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 5;
    transition: all .4s;
}

.card-wrapper {
    img {
        transition: all .4s;
    }
}

.card-wrapper:hover {
    img {
        transform: scale(1.1);
    }

    .img-hover {
        /* display: inline; */
        opacity: 1;
    }
}

.top-deal-list .card-wrapper {
    flex: 1 0 auto;
}

.card-wrapper:hover {
    .icon-block {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        transition: all .6s ease;
    }
}

.rating {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.fa-star::before {
    width: 1.2rem;
    height: 1.2rem;
    font-size: 1.2rem;
}

.card {
    border: none;
}

.card-body {
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    padding: 1.5rem 0;
}

.card-text {
    font-size: 1.4rem;
    font-weight: 500;
}

.icon-block {
    right: 0;
    top: 0;
    z-index: 10;
}

.sale-block {
    z-index: 10;
}

.icon-block-item {
    cursor: pointer;
    padding: 1.25rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    background-color: #F1F3F7;
    transition: all .6s;

    path {
        transition: all .4s;
    }
}

.icon-block-item:hover {
    background-color: var(--search-button);

    path {
        fill: var(--whrite);
    }

}

.icon-block-item svg {
    width: 1.5rem;
    height: 1.5rem;
}

.sale-block {
    left: 0;
    top: 0;
    color: var(--whrite);
}

.sale-block-item {
    padding: .3rem .8rem;
    border-radius: 3rem;
    width: fit-content;
    font-size: 1.2rem;
}

.pre-order {
    margin-top: .3rem;
    color: var(--blakc);
    font-weight: 500;
}

.top-selling-wrapper {
    background-color: var(--bg-bold);
}

.top-selling-text,
.recommended-text {
    border-bottom: 1px solid var(--border-nav);
}

.top-selling-text h3,
.recommended-text h3 {
    width: 70%;
}

.top-selling-text a,
.recommended-text a {
    width: 30%;
    font-size: 1.4rem;
    transition: all .6s;

    path {
        transition: all .6s;
    }
}

.top-selling-text a:hover,
.recommended-text a:hover {
    color: var(--search-button);

    path {
        stroke: var(--search-button);
    }
}

.top-deal-text,
.top-selling-text,
.recommended-text,
.deal-and-promotion-text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.count-down,
.count-down>p,
.countdown-timer {
    padding-left: .75rem;
    padding-right: .75rem;
}

.time {
    h2 {
        min-width: 4.5rem;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        /* max-height: 3.8rem; */
        margin-bottom: 0;
        font-size: 1.4rem;
        background-color: #DD3327;
        color: var(--whrite);
        border-radius: .3rem;
    }
}

.countdown-timer .time:not(:last-child) {
    margin-right: .5rem;
}

.top-selling-list {
    padding-top: 3rem;
    /* margin-left: -1.5rem;
    margin-right: -1.5rem; */
}

/* .recommended-list {
    padding-top: 1.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
} */

.top-selling-list .carousel-control-prev,
.top-selling-list .carousel-control-next {
    top: 93%;
}

.top-selling-image {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
}

/* .top-selling-image {
    padding: 1rem .5rem 1rem 1rem;
} */

.top-selling-card-body {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* .top-selling-list-wrapper {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
} */

.top-selling-item {
    padding: 0 1.5rem;

    img {
        transition: all .4s;
    }

    .img-hover {
        opacity: 1;
    }
}

.top-selling-item:hover {
    img {
        transform: scale(1.05);
    }
}

.top-selling-item>div {
    padding: 1.5rem 0;
    background-color: var(--whrite);
    border-radius: 1rem;
}

.recommended-list-wrapper {
    display: flex;
    flex-flow: row wrap;
}

/* .recommended-list-wrapper .card-wrapper {
    width: 50%;
} */

.recommended-list .carousel-control-prev,
.recommended-list .carousel-control-next {
    top: 93%;
}

.deal-and-promotion-list h5 {
    transition: all .4s;
}

.deal-and-promotion-list>*:hover {
    h5 {
        cursor: pointer;
        color: var(--search-button);
    }
}

.deal-and-promotion-list {
    padding-top: 1.5rem;

    .card-img-head {
        img {
            transition: all .4s;
        }
    }
}


.deal-and-promotion-list {
    .card-img-head:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.deal-and-promotion-text {
    /* padding-bottom: 1.5rem; */
    border-bottom: 1px solid var(--border-nav);
}

.deal-and-promotion .card {
    padding: 1.5rem;
    /* margin-left: -1rem;
    margin-right: -1rem; */
}

/* .deal-and-promotion .card img {
    border-radius: 0.375rem;
} */

.card-img-head {
    border-radius: 0.375rem;
}

.promotion-text {
    color: var(--body-fashion);
    font-size: 1.4rem;
    font-weight: 500;
}

/* .card-img-head {
    width: 100%;
} */

.shipping-wrapper {
    border-top: 1px solid var(--border-nav);
}

.shipping {
    padding-bottom: 3rem;
}

.shipping-service {
    margin-top: 3rem;
}

.shipping-service p {
    color: var(--body-fashion);
    font-weight: 500;
}

.shop-gamepad,
.shop-deal,
.shop-camera {
    border-radius: .5rem;

    .banner-image {
        transition: all .4s;
    }
}

.shop-gamepad:hover,
.shop-deal:hover,
.shop-camera:hover {
    .banner-image {
        transform: scale(1.1);
        z-index: 1;
    }
}

.type-of-shops {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 3rem;
}

.prev-wrapper,
.next-wrapper {
    display: flex;
    width: 6rem;
    height: 6rem;
    background-color: var(--whrite);
    border-radius: 50%;
    justify-content: center;
    /* padding-right: 0.5rem; */
    align-items: center;
    opacity: 0;
}

.prev-wrapper,
.next-wrapper {
    transition: all .4s;
}

/* .carousel-control-prev:hover {
    .prev-wrapper {
        opacity: 1;
    }
} */

.carousel-slider:hover {

    .prev-wrapper,
    .next-wrapper {
        opacity: 1;
    }
}

/* .carousel-control-next:hover {
    .next-wrapper {
        opacity: 1;
    }
} */

.slider-text {
    cursor: context-menu;
}

@media only screen and (min-width: 425px) {

    .banner-text {
        left: 10%;
    }
}

@media only screen and (min-width: 576px) {
    .banner-text p {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 768px) {

    .banner-text p {
        font-size: 3.5rem;
    }

    .banner-title a {
        font-size: 2rem;
    }

    .top-selling-list .carousel-control-prev,
    .top-selling-list .carousel-control-next {
        top: 89%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .deal-and-promotion-list .card-body {
        /* padding-left: 1.5rem;
        padding-right: 1.5rem; */
        padding: 1.5rem;
    }

    .deal-and-promotion-list .card-body {
        justify-content: center;
    }
}

@media only screen and (min-width: 992px) {
    .part-gap {
        padding: 3rem 0;
    }

    .banner-text p {
        font-size: 2rem;
    }

    .carousel-product-list .carousel-control-prev,
    .carousel-product-list .carousel-control-next {
        top: 71%;
    }

    .shipping-service:not(:last-child)::after {
        content: "";
        position: absolute;
        height: 6rem;
        width: 2px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        border-right: 1px solid var(--border-nav);
    }
}

@media only screen and (min-width: 1200px) {

    .icon-block {
        transform: translateX(70%);
        opacity: 0;
        visibility: hidden;
        transition: all .6s ease;
    }

    .top-deal-wrapper .card-wrapper,
    .recommended-list .card-wrapper {
        width: 20%;
    }

}