.container-main {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
}

/* .header-bar {
    padding-top: 2rem;
    padding-bottom: 2rem;
} */

.main-body {
    padding-top: 4rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.container {
    --bs-gutter-x: 3rem;
    --bs-gutter-y: 0;
}

.slide-show img {
    filter: brightness(70%);
}

.part-gap {
    padding: 2rem 0;
}

.shop-wrapper {
    /* padding-left: 1.5rem;
    padding-right: 1.5rem; */
    /* padding-bottom: 3rem; */
    margin-bottom: 3rem;
}

.shop-wrapper section {
    border-radius: 1rem;
}

.shop-gamepad {
    background-color: var(--console);
}

.shop-deal {
    background-color: var(--deal);
}

.shop-camera {
    background-color: var(--camera);
}

.banner-text {
    color: var(--whrite);
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.banner-text p {
    font-size: 1.8rem;
    font-weight: 600;
}

.banner-image {
    display: flex;
    align-items: center;
    width: 55%;
}

.banner-image img {
    width: 100%;
    min-height: 15rem;
    aspect-ratio: 27/20;
}

.banner-title a {
    font-size: 1.4rem;
}

.banner-title span {
    display: inline-block;
    position: relative;
    width: fit-content;
}

.banner-title span::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0.16);
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--base-color);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.banner-title:hover span::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.product-list {
    overflow-x: scroll;
    padding-top: 3rem;
}

.product-list::-webkit-scrollbar {
    display: none;
}

.product-list-image {
    /* width: 50%; */
    flex: 1 0 auto;
    padding: 1.5rem;
    align-items: center;
}

.product-list-image img {
    width: 100%;
    height: 12rem;
    width: 12rem;
    background-color: #F1F3F7;
    border-radius: 50%;
}

.product-list-text {
    padding-top: 1.5rem;
}

.product-list-text p {
    align-items: first baseline;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
}

.product-list-text p:last-child {
    opacity: 0.5;
}

.carousel-indicators {
    position: static;
    padding-top: 1.5rem;
}

.carousel-indicators [data-bs-target] {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

/* .product-list-wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
} */

/* .carousel-product-list {
    padding-top: 3rem;
} */

.image-list-wrapper {
    display: flex;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.carousel-product-list .carousel-control-prev,
.carousel-product-list .carousel-control-next {
    top: 89%;
}

.toshiba {
    font-size: 1.2rem;
    color: var(--secondary-text);
}

.price {
    font-size: 1.8rem;
}

.sale-price {
    font-size: 1.8rem;
    color: var(--search-button);
}

.base-price {
    font-size: 1.4rem;
    color: var(--secondary-text);
}

.top-deal-wrapper {
    overflow-x: hidden;
}

/* .top-deal-text,
.top-selling-text,
.recommended-text,
.deal-and-promotion-text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
} */

.top-deal-text p {
    font-size: 1.4rem;
}

.card-wrapper {
    /* width: 50%; */
    padding: 0 1.5rem;
}

.top-deal-list,
.recommended-list {
    padding-top: 3rem;
    /* margin-left: -1.5rem;
    margin-right: -1.5rem; */
}

.top-deal-list .card-wrapper {
    flex: 1 0 auto;
}

.card-wrapper:hover {
    .icon-block {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        transition: all .6s ease;
    }
}

.card {
    border: none;
}

.card-body {
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    padding-left: 0;
    padding-right: 0;
}

.card-text {
    font-size: 1.4rem;
    font-weight: 500;
}

.icon-block {
    right: 0;
    top: 0;
}

.icon-block-item {
    cursor: pointer;
    padding: 1.25rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    background-color: #F1F3F7;
}

.icon-block-item:hover {
    background-color: var(--search-button);

    & svg {
        background-color: var(--search-button);

        & path {
            fill: var(--whrite);
        }
    }
}

.icon-block-item svg {
    width: 1.5rem;
    height: 1.5rem;
}

.sale-block {
    left: 0;
    top: 0;
    color: var(--whrite);
}

.sale-block-item {
    padding: .3rem .8rem;
    border-radius: 3rem;
    width: fit-content;
    font-size: 1.2rem;
}

.pre-order {
    margin-top: .3rem;
}

.top-selling-wrapper {
    background-color: var(--bg-bold);
}

.top-selling-text,
.recommended-text {
    border-bottom: 1px solid var(--border-nav);
}

.top-selling-text h3,
.recommended-text h3 {
    width: 70%;
}

.top-selling-text a,
.recommended-text a {
    width: 30%;
    font-size: 1.4rem;
}

.top-deal-text,
.top-selling-text,
.recommended-text,
.deal-and-promotion-text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.top-selling-list {
    padding-top: 3rem;
    /* margin-left: -1.5rem;
    margin-right: -1.5rem; */
}

/* .recommended-list {
    padding-top: 1.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
} */

.top-selling-list .carousel-control-prev,
.top-selling-list .carousel-control-next {
    top: 93%;
}

.top-selling-image {
    display: flex;
    justify-content: center;
}

/* .top-selling-image {
    padding: 1rem .5rem 1rem 1rem;
} */

/* .top-selling-card-body {
    padding: 0 1rem 0 .5rem;
    margin-left: -1rem;
} */

/* .top-selling-list-wrapper {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
} */

.top-selling-item {
    padding: 0 1.5rem;
}

.top-selling-item>div {
    padding: 1.5rem 0;
    background-color: var(--whrite);
    border-radius: 1rem;
}

.recommended-list-wrapper {
    display: flex;
    flex-flow: row wrap;
}

/* .recommended-list-wrapper .card-wrapper {
    width: 50%;
} */

.recommended-list .carousel-control-prev,
.recommended-list .carousel-control-next {
    top: 93%;
}

.deal-and-promotion-list {
    padding-top: 1.5rem;
    /* margin-left: -1.5rem;
    margin-right: -1.5rem; */
}

.deal-and-promotion-text {
    /* padding-bottom: 1.5rem; */
    border-bottom: 1px solid var(--border-nav);
}

.deal-and-promotion .card {
    padding: 1.5rem;
    /* margin-left: -1rem;
    margin-right: -1rem; */
}

.deal-and-promotion .card img {
    border-radius: 0.375rem;
}

.promotion-text {
    color: var(--body-fashion);
    font-size: 1.4rem;
    font-weight: 500;
}

.shipping-wrapper {
    border-top: 1px solid var(--border-nav);
}

.shipping {
    padding-bottom: 3rem;
}

.shipping-service {
    padding-top: 3rem;
    /* padding-bottom: 4rem; */
}

.shipping-service p {
    color: var(--body-fashion);
    font-weight: 500;
}

@media only screen and (min-width: 425px) {

    .banner-text {
        left: 10%;
    }
}

@media only screen and (min-width: 768px) {

    .banner-text p {
        font-size: 2rem;
    }

    .banner-title a {
        font-size: 2rem;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .deal-and-promotion-list .card-body {
        /* padding-left: 1.5rem;
        padding-right: 1.5rem; */
        padding: 1.5rem;
    }

    .deal-and-promotion-list .card-body {
        justify-content: center;
    }
}

@media only screen and (min-width: 992px) {
    .part-gap {
        padding: 3rem 0;
    }
}

@media only screen and (min-width: 1200px) {

    .icon-block {
        transform: translateX(500%);
        opacity: 0;
        visibility: hidden;
        transition: all .6s ease;
    }

    .top-deal-wrapper .card-wrapper,
    .recommended-list .card-wrapper {
        width: 20%;
    }

}